h1{
	color: #FF05EC;
}
body{ background-color: #FA7A8D;
	  background-size: 120%;}
	  background-repeat: no-repeat;

}
.redParagraph{
	color:#ff0000;
}
p{
	color:#0000FF;
}
h3{ color: #CF386B;
	font-family: Times;
	text-align: center;
	 }
img{
	border-radius: 50px;
}
img:hover{
	border-radius: 30%;
	
}
ul{
	list-style-type: none;
	background-color: #FFFFFF;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;

}
ul li a{
	text-decoration: none;
	display: block;
	width: 75px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: #FA8A8D;
}
ul li a:hover{
	background-color: #FA6A7D;
	
}
.acting{
	font-weight: bold;
	border-bottom: solid 2px #FA6C7E;
}